<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.mountainowl.headachewizard">

    <application
            android:name=".HeadacheWizardApplication"
            android:allowBackup="true"
            android:label="@string/app_name"
            android:theme="@style/AppTheme"
            android:icon="@drawable/headache_wizard_logo">
        <activity android:name=".ui.SplashActivity"
                  android:configChanges="orientation"
                  android:screenOrientation="portrait"
                  android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".MainActivity"
                android:configChanges="orientation"
                android:label="@string/app_name"
                android:screenOrientation="portrait">
        </activity>
    </application>
</manifest>